:root {
  --color-bg: #191724;
  --color-bg-2: #1f1d2e;
  --color-fg: #e0def4;
  --color-accent: #c4a7e7;
  --color-select: #403d52;
  --borders: 1px solid;
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
  line-height: 130%;
  margin: 6% 10%;
}

h1 {
  color: var(--color-bg);
  background-color: var(--color-fg);
  padding: 10px 6px;
  display: table;
  margin-bottom: 2px;
}

fieldset {
  margin: 14px auto;
  border: var(--borders);
}

textarea, input {
  color: var(--color-fg);
  background-color: var(--color-bg-2);
  border: var(--borders);
  font: 1em monospace;
}

textarea {
  margin: auto;
  display: block;
}

legend {
  color: var(--color-bg);
  background-color: var(--color-fg);
  padding: 2px 6px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

button, select, option {
  font: 1em monospace;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: var(--borders);

  &:hover {
    color: var(--color-accent);
  }
}

button {
  margin-top: 5%;
}

label {
  margin-right: 2px;
}

input[type="checkbox"] {
  appearance: none;
  width: 12px;
  height: 12px;
  border: 2px solid gray;
  top: 3px;
  position: relative;

  &:checked {
    border: 6px solid var(--color-accent);
  }
}

.row {
  display: flex;

  &:has(> #gen) {
    justify-content: center;
  }

  button {
    margin: 16px 4px;
  }
}

.column {
  flex: 50%;
  /* margin: auto; */
}

::selection {
  /* color: var(--color-bg); */
  background-color: var(--color-select);
}


@media only screen and (max-width: 950px) {
  body {
    padding: 2% 12% 4%;
  
    > .row {
      display: unset;
    }
  }
  .column:first-child {
    margin-bottom: 5%;
  }
}

.flex {
  display: flex;

  > div {
    width: 50%;
  }
}
